{% extends "base.html" %}

{% block title %}分日数据查询{% endblock %}

{% block css %}
  <style type="text/css">
#dituContent {width: 100%;height: 100%;overflow: hidden;margin:0;display: block}
#dituContent img {
   max-width: none;
}
#dituContent .center,
#dituContent .center:before,
#dituContent .center:after,
#dituContent .bottom,
#dituContent .bottom:before,
#dituContent .bottom:after
{
    box-sizing:content-box;
    -moz-box-sizing:content-box; /* Firefox */
    -webkit-box-sizing:content-box; /* Safari */
} 
</style>
{% endblock %}

{% block javascript %}
  <script src="/static/public/js/jquery-ui/datepicker-zh-TW.js"></script>
  <script src="/static/website/js/query_data_daily.js"></script>
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=V2ZGGwEROEfR5YOiEoCKfMLF"></script>
  <script type="text/javascript">

// 百度地图API功能
var map = new BMap.Map("dituContent");            // 创建Map实例
var point = new BMap.Point(116.404, 39.915);    // 创建点坐标
map.centerAndZoom(point,15);                     // 初始化地图,设置中心点坐标和地图级别。
map.enableScrollWheelZoom();                            //启用滚轮放大缩小

</script>
{% endblock %}

{% block menu %}
<li>
  查询数据
  <ul>
      <li id="query_data_daily" href="/query_data_daily">分日数据</li>
      <li id="query_data_hourly" href="/query_data_hourly">分时数据</li>
  </ul>
</li>
<li>
  数据视图
  <ul>
      <li id="visual_data_daily" href="/visual_data_daily">分日曲线</li>
      <li id="visual_data_hourly" href="/visual_data_hourly">分时曲线</li>
  </ul>
</li>
<li class="k-state-active">
  节点信息
  <ul>
      <li id="node_all" href="/node_all" class="k-item k-state-default k-last" role="menuitem" aria-selected="true"><span class="k-link k-state-selected">节点全景</span></li>
      <li id="node_manage" href="/node_manage">节点管理</li>
  </ul>
</li>
{% endblock %}

{% block main %}
  <div class="panel panel-primary">
    <div class="panel-heading">查询设置</div>
    <div class="panel-body">
      <form class="form-horizontal" role="form">
        <div class="row">
          <div class="form-group">
            <label for="data_status" class="col-md-2 control-label">视图方式</label>
            <div class="col-md-2">
              <select id="data_status" class="form-control">
                <option>全景视图</option>
                <option>列表视图</option>
              </select>
            </div>
            <label for="node_list" class="col-md-2 control-label">节点范围</label>
            <div class="col-md-2">
              <select id="node_list" class="form-control">
                <option>节点</option>
                <option>节点网</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <label for="data_status" class="col-md-2 control-label">节点网列表</label>
            <div class="col-md-2">
              <select id="data_status" class="form-control">
                <option>清华</option>
                <option>北大</option>
              </select>
            </div>
            <label for="node_list" class="col-md-2 control-label">节点列表</label>
            <div class="col-md-2">
              <select id="node_list" class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
            </div>
            <button id="search" type="button" class="btn btn-primary">查询</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">全景视图</div>
    <div class="panel-body">
      <div id="dituContent" style="min-width:700px;height:400px;overflow: visible"></div>
    </div>
  </div>
  </div>
{% endblock %}