{% extends "base.html" %}

{% block title %}分日数据查询{% endblock %}

{% block css %}
<link href="/static/public/DataTables/media/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="/static/public/DataTables/media/css/jquery.dataTables_themeroller.min.css" rel="stylesheet">
{% endblock %}

{% block javascript %}
<script src="/static/public/js/jquery-ui/datepicker-zh-TW.js"></script>
<script src="/static/website/js/util.js"></script>
<script src="/static/website/js/query_data_daily.js"></script>
<script src="/static/public/DataTables/media/js/jquery.dataTables.min.js"></script>
{% endblock %}

{% block menu %}
<li class="k-state-active">
  查询数据
  <ul>
      <li id="query_data_daily" href="/query_data_daily" class="k-item k-state-default k-last" role="menuitem" aria-selected="true"><span class="k-link k-state-selected">分日数据</span></li>
      <li id="query_data_hourly" href="/query_data_hourly">分时数据</li>
  </ul>
</li>
<li>
  数据视图
  <ul>
      <li id="visual_data_daily" href="/visual_data_daily">分日曲线</li>
      <li id="visual_data_hourly" href="/visual_data_hourly">分时曲线</li>
  </ul>
</li>
<li>
  节点信息
  <ul>
      <li id="node_all" href="/node_all">节点全景</li>
  </ul>
</li>
<li>
  信息管理
  <ul>
      <li id="admin" href="/admin">用户/节点/公司管理</li>
  </ul>
</li>
{% endblock %}

{% block main %}
<div class="panel panel-primary">
  <div class="panel-heading">查询设置</div>
  <div class="panel-body">
    <form class="form-horizontal" role="form">
      <div class="row">
        <div class="form-group">
          <label for="monitor_type" class="col-md-2 control-label label-sm">终端类别</label>
          <div class="col-md-2">
            <select id="monitor_type" class="form-control input-sm">
              <option value="c">采集器</option>
              <option value="h">恒电位仪</option>
            </select>
          </div>
          <label for="search_type" class="col-md-2 control-label label-sm">查询类型</label>
          <div class="col-md-2">
            <select id="search_type" class="form-control input-sm">
              <option value="voltage">电压</option>
              <option value="current">电流</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="start_date" class="col-md-2 control-label label-sm">起始日期</label>
          <div class="col-md-2">
            <input type="text" id="start_date" class="date_picker form-control input-sm">
          </div>
          <label for="end_date" class="col-md-2 control-label label-sm">终止日期</label>
          <div class="col-md-2">
            <input type="text" id="end_date" class="date_picker form-control input-sm">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label for="data_status" class="col-md-2 control-label label-sm">数据状态</label>
          <div class="col-md-2">
            <select id="data_status" class="form-control input-sm">
              <option value="all">全部</option>
              <option value="normal">正常</option>
              <option value="except">异常</option>
            </select>
          </div>
          <label for="node_list" class="col-md-2 control-label label-sm">节点列表</label>
          <div class="col-md-2">
            <select id="node_list" class="form-control input-sm">
              <option value="13">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
            </select>
          </div>
          <button id="node_location" type="button" class="btn btn-primary btn-sm">节点定位</button>
          <span id="node_desc" class="label label-info">在大钟寺附近</span>
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
            <button id="search_btn" type="button" class="btn btn-primary btn-sm">查询</button>
            <label>&nbsp;&nbsp;</label>
            <button id="download_btn" type="button" class="btn btn-primary btn-sm">下载</button>
          </div>
        </div>
      </div>
    </form>  
  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">日数据列表</div>
  <table id="mytable" class="table table-striped table-bordered" cellspacing="0">
    <thead>
      <tr>
        <th>日期</th>
        <th>节点</th>
        <th>电池电压</th>
        <th>类型</th>
        <th>最大</th>
        <th>最小</th>
        <th>平均</th>
        <th>均方差</th>
        <th>失效次数</th>
        <th>异常次数</th>
        <th>异常时间</th>
      </tr>
    </thead>
    <tbody>
      <tr><td>2009-02-16</td><td>CSC-13</td><td>7624</td><td>电压</td><td>-679</td><td>-684</td><td>-690</td><td>4</td><td>24</td><td>1440</td><td>8400</td></tr>
      <tr><td>2009-02-16</td><td>CSC-13</td><td>7624</td><td>电压</td><td>-679</td><td>-684</td><td>-690</td><td>4</td><td>24</td><td>1440</td><td>8400</td></tr>
      <tr><td>2009-02-16</td><td>CSC-13</td><td>7624</td><td>电压</td><td>-679</td><td>-684</td><td>-690</td><td>4</td><td>24</td><td>1440</td><td>8400</td></tr>
      <tr><td>2009-02-16</td><td>CSC-13</td><td>7624</td><td>电压</td><td>-679</td><td>-684</td><td>-690</td><td>4</td><td>24</td><td>1440</td><td>8400</td></tr>
      <tr><td>2009-02-16</td><td>CSC-13</td><td>7624</td><td>电压</td><td>-679</td><td>-684</td><td>-690</td><td>4</td><td>24</td><td>1440</td><td>8400</td></tr>
      <tr><td>2009-02-16</td><td>CSC-13</td><td>7624</td><td>电压</td><td>-679</td><td>-684</td><td>-690</td><td>4</td><td>24</td><td>1440</td><td>8400</td></tr>
      <tr><td>2009-02-16</td><td>CSC-13</td><td>7624</td><td>电压</td><td>-679</td><td>-684</td><td>-690</td><td>4</td><td>24</td><td>1440</td><td>8400</td></tr>
      <tr><td>2009-02-16</td><td>CSC-13</td><td>7624</td><td>电压</td><td>-679</td><td>-684</td><td>-690</td><td>4</td><td>24</td><td>1440</td><td>8400</td></tr>
      <tr><td>2009-02-16</td><td>CSC-13</td><td>7624</td><td>电压</td><td>-679</td><td>-684</td><td>-690</td><td>4</td><td>24</td><td>1440</td><td>8400</td></tr>
      <tr><td>2009-02-16</td><td>CSC-13</td><td>7624</td><td>电压</td><td>-679</td><td>-684</td><td>-690</td><td>4</td><td>24</td><td>1440</td><td>8400</td></tr>
      <tr><td>2009-02-16</td><td>CSC-13</td><td>7624</td><td>电压</td><td>-679</td><td>-684</td><td>-690</td><td>4</td><td>24</td><td>1440</td><td>8400</td></tr>
      <tr><td>2009-02-16</td><td>CSC-13</td><td>7624</td><td>电压</td><td>-679</td><td>-684</td><td>-690</td><td>4</td><td>24</td><td>1440</td><td>8400</td></tr>
      <tr><td>2009-02-16</td><td>CSC-13</td><td>7624</td><td>电压</td><td>-679</td><td>-684</td><td>-690</td><td>4</td><td>24</td><td>1440</td><td>8400</td></tr>
      <tr><td>2009-02-16</td><td>CSC-13</td><td>7624</td><td>电压</td><td>-679</td><td>-684</td><td>-690</td><td>4</td><td>24</td><td>1440</td><td>8400</td></tr>
      <tr><td>2009-02-16</td><td>CSC-13</td><td>7624</td><td>电压</td><td>-679</td><td>-684</td><td>-690</td><td>4</td><td>24</td><td>1440</td><td>8400</td></tr>
      <tr><td>2009-02-16</td><td>CSC-13</td><td>7624</td><td>电压</td><td>-679</td><td>-684</td><td>-690</td><td>4</td><td>24</td><td>1440</td><td>8400</td></tr>
      <tr><td>2009-02-16</td><td>CSC-13</td><td>7624</td><td>电压</td><td>-679</td><td>-684</td><td>-690</td><td>4</td><td>24</td><td>1440</td><td>8400</td></tr>
      <tr><td>2009-02-16</td><td>CSC-13</td><td>7624</td><td>电压</td><td>-679</td><td>-684</td><td>-690</td><td>4</td><td>24</td><td>1440</td><td>8400</td></tr>
      <tr><td>2009-02-16</td><td>CSC-13</td><td>7624</td><td>电压</td><td>-679</td><td>-684</td><td>-690</td><td>4</td><td>24</td><td>1440</td><td>8400</td></tr>
      <tr><td>2009-02-16</td><td>CSC-13</td><td>7624</td><td>电压</td><td>-679</td><td>-684</td><td>-690</td><td>4</td><td>24</td><td>1440</td><td>8400</td></tr>
      <tr><td>2009-02-16</td><td>CSC-13</td><td>7624</td><td>电压</td><td>-679</td><td>-684</td><td>-690</td><td>4</td><td>24</td><td>1440</td><td>8400</td></tr>
      <tr><td>2009-02-16</td><td>CSC-13</td><td>7624</td><td>电压</td><td>-679</td><td>-684</td><td>-690</td><td>4</td><td>24</td><td>1440</td><td>8400</td></tr>
      <tr><td>2009-02-16</td><td>CSC-13</td><td>7624</td><td>电压</td><td>-679</td><td>-684</td><td>-690</td><td>4</td><td>24</td><td>1440</td><td>8400</td></tr>
      <tr><td>2009-02-16</td><td>CSC-13</td><td>7624</td><td>电压</td><td>-679</td><td>-684</td><td>-690</td><td>4</td><td>24</td><td>1440</td><td>8400</td></tr>
      <tr><td>2009-02-16</td><td>CSC-13</td><td>7624</td><td>电压</td><td>-679</td><td>-684</td><td>-690</td><td>4</td><td>24</td><td>1440</td><td>8400</td></tr>
      <tr><td>2009-02-16</td><td>CSC-13</td><td>7624</td><td>电压</td><td>-679</td><td>-684</td><td>-690</td><td>4</td><td>24</td><td>1440</td><td>8400</td></tr>
      <tr><td>2009-02-16</td><td>CSC-13</td><td>7624</td><td>电压</td><td>-679</td><td>-684</td><td>-690</td><td>4</td><td>24</td><td>1440</td><td>8400</td></tr>
      <tr><td>2009-02-16</td><td>CSC-13</td><td>7624</td><td>电压</td><td>-679</td><td>-684</td><td>-690</td><td>4</td><td>24</td><td>1440</td><td>8400</td></tr>
      <tr><td>2009-02-16</td><td>CSC-13</td><td>7624</td><td>电压</td><td>-679</td><td>-684</td><td>-690</td><td>4</td><td>24</td><td>1440</td><td>8400</td></tr>
      <tr><td>2009-02-16</td><td>CSC-13</td><td>7624</td><td>电压</td><td>-679</td><td>-684</td><td>-690</td><td>4</td><td>24</td><td>1440</td><td>8400</td></tr>
    </tbody>
  </table>
</div>
{% endblock %}