{% extends "base.html" %}

{% block title %}分时数据查询{% endblock %}

{% block css %}
{% endblock %}

{% block javascript %}
  <script type="text/javascript" src="/static/public/highcharts/js/highcharts.js"></script>
  <script type="text/javascript" src="/static/public/highcharts/js/exporting.js"></script>
  <script src="/static/public/js/jquery-ui/datepicker-zh-TW.js"></script>
  <script type="text/javascript" src="/static/website/js/visual_data_hourly.js"></script>
{% endblock %}

{% block menu %}
<li>
  查询数据
  <ul>
      <li id="query_data_daily" href="/query_data_daily">分日数据</li>
      <li id="query_data_hourly" href="/query_data_hourly">分时数据</li>
  </ul>
</li>
<li class="k-state-active">
  数据视图
  <ul>
      <li id="visual_data_daily" href="/visual_data_daily">分日曲线</li>
      <li id="visual_data_hourly" href="/visual_data_hourly" class="k-item k-state-default k-last" role="menuitem" aria-selected="true"><span class="k-link k-state-selected">分时曲线</span></li>
  </ul>
</li>
<li>
  节点信息
  <ul>
      <li id="node_all" href="/node_all">节点全景</li>
      <li id="node_manage" href="/node_manage">节点管理</li>
  </ul>
</li>
{% endblock %}

{% block main %}
  <div class="panel panel-primary">
    <div class="panel-heading">查询设置</div>
    <div class="panel-body">
      <form class="form-horizontal" role="form">
        <div class="row">
          <div class="form-group">
            <label for="start_date" class="col-md-2 control-label">查询日期</label>
            <div class="col-md-2">
              <input type="text" id="start_date" class="date_picker form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <label for="data_status" class="col-md-2 control-label">曲线类型</label>
            <div class="col-md-2">
              <select id="data_status" class="form-control">
                <option>电压</option>
                <option>电流</option>
              </select>
            </div>
            <label for="node_list" class="col-md-2 control-label">节点列表</label>
            <div class="col-md-2">
              <select id="node_list" class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
            </div>
            <button id="node_location" type="button" class="btn btn-primary">节点定位</button>
            <span id="node_desc" class="label label-info">在大钟寺附近</span>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
              <button id="search" type="button" class="btn btn-primary">查询</button>
              <label>&nbsp;&nbsp;</label>
              <button id="download" type="button" class="btn btn-primary">下载</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div id="visual_view" style="min-width:700px;height:400px"></div>
{% endblock %}