{% extends "base.html" %}

{% block title %}分日数据视图{% endblock %}

{% block css %}
{% endblock %}

{% block javascript %}
  
  <script type="text/javascript" src="/static/public/highcharts/js/highcharts.js"></script>
  <script type="text/javascript" src="/static/public/highcharts/js/exporting.js"></script>
  <script src="/static/public/js/jquery-ui/datepicker-zh-TW.js"></script>
  <script src="/static/website/js/query_data_daily.js"></script>
  <script>
    //左侧Javascript代码
	var chart;
	$(function () {
    //$('#container').highcharts({
	chart = new Highcharts.Chart({
		chart: {
			type: 'spline',
			renderTo: 'container',
			alignTicks: true,
			zoomType: 'x'
			//type: 'logarithmic'
		},
        title: {
            text: 'Monthly Average Temperature',
            x: -20 //center
        },
        subtitle: {
            text: 'Source: WorldClimate.com',
            x: -20
        },
        xAxis: {
            //categories: ['Jan123456789', 'Feb123456789', 'Mar123456789', 'Apr123456789', 'May123456789', 'Jun123456789','Jul123456789', 'Aug123456789', 'Sep123456789', 'Oct123456789', 'Nov123456789', 'Dec123456789'],
			tickPositions: [0,1,2,3,4,5,8],
			tickmarkPlacement: 'on',
			tickPixelInterval: 100,
			//tickInterval: 2,
			labels: {
			step:1
			//staggerLines: 2
			},
			gridLineWidth: 1
        },
		/*xAxis: {  
                            // X轴分类  
                            categories: ['苹果', '桔子', '梨子', '香蕉', '李子'],  
                            // 坐标轴的标签  
                            labels:{  
                                // 标签位置  
                                align: 'center',  
                                // 标签格式化  
                                formatter: function(){  
                                    return this.value;  
                                },  
                                // 标签旋转度数  
                                rotation: 20,  
                                // 标签交错显示的行数  
                                staggerLines: 1  
                            },  
                            // X轴的步进值，决定隔多少个显示一个  
                            tickInterval: 1,  
                            // 坐标轴标题  
                            title: {  
                                text: '水果分类'  
                            }  
                        },  */
        yAxis: {
            title: {
                text: 'Temperature (°C)'
            },
            plotLines: [{
                value: 0,
                width: 1,
                color: '#808080'
            }],
			//max:100
        },
        tooltip: {
            valueSuffix: '°C'
        },
        legend: {
            layout: 'vertical',
            align: 'right',
            verticalAlign: 'middle',
            borderWidth: 0
        },
        series: [{
            name: 'Tokyo',
            data: [7.0, 6.9, 9.5, 14.5, 18.2, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
        }/*, {
            name: 'New York',
            data: [-0.2, 0.8, 5.7, 11.3, 17.0, 22.0, 24.8, 24.1, 20.1, 14.1, 8.6, 2.5]
        }, {
            name: 'Berlin',
            data: [-0.9, 0.6, 3.5, 8.4, 13.5, 17.0, 18.6, 17.9, 14.3, 9.0, 3.9, 1.0]
        }, {
            name: 'London',
            data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8]
        }*/]
    });
	
});
function add()
{
	//chart.series[0].addPoint([20,50], true, true);
	//alert(chart.yAxis[0].min);
	var min = chart.yAxis[0].min - 50;
	var max = chart.yAxis[0].max + 50;
	//chart.yAxis[0].min = chart.yAxis[0].min * 2;
	//chart.yAxis[0].max = chart.yAxis[0].max * 2;
	//chart.yAxis[0].update();
	chart.yAxis[0].setExtremes(min, max);
	//chart.redraw();
}	
function change()
{
	chart.series[0].setData([[1,10],[2,5],[3,8]]);
}
  </script>
{% endblock %}

{% block menu %}
<li>
  查询数据
  <ul>
      <li id="query_data_daily" href="/query_data_daily">分日数据</li>
      <li id="query_data_hourly" href="/query_data_hourly">分时数据</li>
  </ul>
</li>
<li class="k-state-active">
  数据视图
  <ul>
      <li id="visual_data_daily" href="/visual_data_daily" class="k-item k-state-default k-last" role="menuitem" aria-selected="true"><span class="k-link k-state-selected">分日曲线</span></li>
      <li id="visual_data_hourly" href="/visual_data_hourly">分时曲线</li>
  </ul>
</li>
<li>
  节点信息
  <ul>
      <li id="node_all" href="/node_all">节点全景</li>
      <li id="node_manage" href="/node_manage">节点管理</li>
  </ul>
</li>
{% endblock %}

{% block main %}
  <div class="panel panel-primary">
    <div class="panel-heading">查询设置</div>
    <div class="panel-body">
      <form class="form-horizontal" role="form">
        <div class="row">
          <div class="form-group">
            <label for="start_date" class="col-md-2 control-label">起始日期</label>
            <div class="col-md-2">
              <input type="text" id="start_date" class="date_picker form-control">
            </div>
            <label for="end_date" class="col-md-2 control-label">终止日期</label>
            <div class="col-md-2">
              <input type="text" id="end_date" class="date_picker form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <label for="data_status" class="col-md-2 control-label">曲线类型</label>
            <div class="col-md-2">
              <select id="data_status" class="form-control">
                <option>最大电压</option>
                <option>最小电压</option>
                <option>平均电压</option>
                <option>电压均方差</option>
                <option>失效次数</option>
                <option>异常次数</option>
                <option>异常时间</option>
                <option>电池电压</option>
              </select>
            </div>
            <label for="node_list" class="col-md-2 control-label">节点列表</label>
            <div class="col-md-2">
              <select id="node_list" class="form-control">
                <option>1</option>
                <option>2</option>
                <option>3</option>
              </select>
            </div>
            <button id="node_location" type="button" class="btn btn-primary">节点定位</button>
            <span id="node_desc" class="label label-info">在大钟寺附近</span>
          </div>
        </div>
        <div class="row">
          <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
              <button id="search" type="button" class="btn btn-primary">查询</button>
              <label>&nbsp;&nbsp;</label>
              <button id="download" type="button" class="btn btn-primary">下载</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div id="container" style="min-width:700px;height:400px"></div>
{% endblock %}